@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suse/v1/MwQ5bhb078Wt2V9BPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --body-background-color: #f5f6f8;
  --main-background-color: #ffffff;
  --main-color: #2a303b;
  --max-body-width: 700px;
  --border-color: #cccccc;
  --message-ai-color: #e6e6e6;
  --secondary-color: #fff6d3;
  --loader-bullet-size: 6px;
}

body.dark-theme {
  --body-background-color: #262626;
  --main-background-color: #303030;
  --main-color: #eceae4;
  --max-body-width: 700px;
  --border-color: #414141;
  --message-ai-color: #747474;
  --secondary-color: #64a279;
  --loader-bullet-size: 6px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  padding: 0;
  margin: 0;
  font-family: 'SUSE';
  color: var(--main-color);
}

.main-container {
  max-width: var(--max-body-width);
  height: 90vh;
  background-color: var(--main-background-color);
  color: var(--main-color);
  padding: 50px 50px 20px;
  margin: 0 auto;
  overflow-y: auto;
}

.header {
  text-align: center;
}

.header-title {
  margin-top: 0;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}

.message {
  border: 3px solid var(--message-ai-color);
  background-color: var(--message-ai-color);
  border-radius: 12px 12px 12px 0px;
  padding: 10px 15px;
  color: var(--main-color);
}

.message-human {
  border: 3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transform: translateX(33%);
  border-radius: 12px 12px 0px 12px;
}

.prompt-container {
  position: fixed;
  bottom: 0px;
  left: 0%;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-background-color);
  padding: 20px;
  border-top: 1px solid var(--border-color);
}

.prompt-label {
  font-weight: bold;
}

.prompt-input {
  flex-grow: 1;
  border: 3px solid var(--border-color);
  background-color: var(--border-color);
  border-radius: 12px;
  padding: 15px;
  color: var(--main-color);
}

.button {
  border: 3px solid var(--border-color);
  color: var(--main-color);
  padding: 7px;
  border-radius: 12px;
  background-color: var(--border-color);
}

.button:hover,
.button:active {
  background-color: var(--body-background-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Loader code taken from https://loading.io/css/ */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--loader-bullet-size);
}

.loader div {
  position: absolute;
  top: 0;
  width: var(--loader-bullet-size);
  height: var(--loader-bullet-size);
  border-radius: 50%;
  background-color: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: calc(var(--loader-bullet-size) * 2.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: calc(var(--loader-bullet-size) * 4);
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--loader-bullet-size) * 2), 0);
  }
}

.coin-gauche {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coin-droite {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#send-pdf-button {
  display: none;
  /* Cache le bouton au chargement de la page */
}

#reset-button {
  display: none;
  /* Cache le bouton au chargement de la page */
}

.fade-text span {
  opacity: 0;
  display: inline;
  /* Utiliser inline pour les mots */
  animation: fadeIn 0.2s forwards;
  /* Durée de l'animation plus longue pour les mots */
  animation-delay: calc(0.1s * var(--word-index));
  /* Délai progressif entre les mots */
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
    /* Les lettres montent légèrement */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Les lettres se stabilisent */
  }
}

.file-info {
  color: var(--main-color);
}

/* CSS DE TRANIE POUR L'HIST */
/* Ajoute du style pour le conteneur principal */
.main-container-hist {
  display: flex;
}

/* Section historique des conversations */
.history-container {
  width: 20%;
  background-color: var(--main-background-color);
  padding: 10px;
  border-right: 2px solid var(--border-color);
  overflow-y: auto;
  padding-top: 50px;
  height: 90vh;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.delete-icon {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

.delete-icon:hover {
  color: darkred;
}


/* Section chat */
.chat-container {
  width: 70%;
  padding: 20px;
}

/* Style pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}