<!DOCTYPE html>
<html lang="fr">

<head>
  <title>My IAssistant Partner</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png">
  <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" type="image/png">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel=" stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <main class="main-container-hist">
    <!-- Section pour l'historique des conversations -->
    <section id="history-container" class="history-container">
      <h1>
        Historique des conversations
      </h1>
      <div id="history">
        <!-- Les éléments d'historique seront injectés ici -->
        {% for session in sessions %}
        <div class="history-item" data-id="{{ session.id }}">
          <div class="session-title">
            Session {{ session.id }} - {{ session.timestamp.strftime('%Y-%m-%d %H:%M') }}
            <!-- Icône de suppression avec Font Awesome -->
            <span class="delete-icon" data-id="{{ session.id }}">
              <i class="fas fa-trash"></i> <!-- Icône de poubelle -->
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Section chat -->
    <section class="main-container">
      <header class="header">
        <h1 class="header-title">Mon A.I. de mémoire</h1>
      </header>

      <section id="messages-container" class="messages-container">
        <div class="message message-ai">
          Je suis ton IAssistant de cours personnel ! Pose-moi une question sur
          le cours et je te répondrai.
        </div>
      </section>

      <form id="prompt-form" class="prompt-container">
        <label for="prompt" class="prompt-label">Message</label>

        <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

        <button type="submit" class="button" id="submit-button">Envoyer</button>

        <button type="button" class="button" id="question-button">
          Pose-moi une question !
        </button>

      </form>
    </section>
  </main>

  <!-- Fenêtre modale pour afficher les conversations -->
  <div id="conversationModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Conversation complète</h2>
      <div id="modal-body">
        <!-- Le contenu de la conversation sera injecté ici -->
      </div>
    </div>
  </div>

  <!-- Conteneur pour les boutons dans le coin droit -->
  <form class="coin-droite" id="pdf-form">
    <input type="file" class="button" id="pdf-button" accept=".pdf" name="file" />
    <button type="button" class="button" id="send-pdf-button">Envoyer PDF</button>
    <button type="button" class="button" id="reset-button">Réinitialiser</button>
    <p id="file-info"></p>
  </form>

  <!-- Bouton pour changer de thème dans le coin gauche -->
  <div class="coin-gauche">
    <button type="button" class="button" id="theme-button">Thème Sombre</button>
  </div>

  <!-- Inclusion du script JS -->
  <script src="{{ url_for('static', filename='prompt.js') }}"></script>
</body>

</html>